*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
}

body{
  width: 100%;
  min-height: 100vh;/* altura principal */
  background-color: rgb(243,243,243);
  margin:0;
  padding:0;
  display: flex;
  justify-content: center;
}

.instagram-wrapper{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 60%;
  height: 100%;
}

.instagram-phone{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  width: 50%;
}

.instagram-phone img{
  height: 50rem;
}

.instagram-continue{
  display: flex;
  justify-content: space-around;/*vertical*/
  align-items: center; /*horizontal*/
  flex-direction: column;
  width: 40%;
  height: 34rem;
}

.group{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 100%;
  border: 1px solid lightgray;
}

.group:nth-child(1) {
  min-height: 23rem;
}

.group:nth-child(2){
  margin-top: 0.50rem;
  padding: 0.1rem 0.1rem;
}

.instagram-logo {
  margin-top: 2rem;
  height: 3rem;
}

.profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.profile-photo img{
  width: 152px;
  height: 152px;
}

.instagram-logout{
  font-weight: bolder;
  text-transform: none;
}

.link-blue{
  font-weight: bolder;
  text-transform: none;
}

.not-account{
  color: rgb(160,160,160);
}

.get-the-app{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1.3rem 0;
}

.download{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.app-download{
  height: 3rem;
  width: 10rem;
  background-size: cover;
  border-radius: 0.50rem;
}

.app-download:nth-child(1){
  background-image: url('/img/botao-appstore.png');
}

.app-download:nth-child(2){
  background-image: url('/img/botao-googleplay.png');
}

/*responsiva*/
@media(max-width:1024px){
  .instagram-wrapper{
    width: 70%;
  }
}

@media(max-width:720px){
  body{
    background-color: #ffffff;
  }

  .instagram-wrapper{
    margin-top: 4rem;
    width: 90%;
  }

  .instagram-phone{
    display: none;
  }

  .instagram-continue{
    width: 100%;
  }

  .group{
    border: 1px solid transparent;
  }

}